@font-face {
  font-family: 'TT Lakes';
  src: url('./fonts/TTLakes-Regular.eot');
  src: local('TT Lakes Regular'), local('TTLakes-Regular'),
  url('./fonts/TTLakes-Regular.eot') format('embedded-opentype'),
  url('./fonts/TTLakes-Regular.woff') format('woff'),
  url('./fonts/TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TT Lakes';
  src: url('./fonts/TTLakes-Bold.eot');
  src: local('TT Lakes Bold'), local('TTLakes-Bold'),
  url('./fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
  url('./fonts/TTLakes-Bold.woff') format('woff'),
  url('./fonts/TTLakes-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'TT Lakes';
  src: url('./fonts/TTLakes-Medium.eot');
  src: local('TT Lakes Medium'), local('TTLakes-Medium'),
  url('./fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
  url('./fonts/TTLakes-Medium.woff') format('woff'),
  url('./fonts/TTLakes-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}


  body {
    font-family: 'TT Lakes';
    font-weight: normal;
    color: black;
    background-color: #F8F8F8;
  }

  .wrapper {
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
  }

  header {
    background-color: white;
    padding: 12px 12px 8px 16px;
    margin: -10px;
  }

  .header__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    align-items: center;
  }

  .header__row-1, .header__row-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .header__icon {
    margin-right: 16px;
  }


  .name-page__row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    margin-left: 32px;
  }

  .name-page__row::before {
    display: inline-block;
    content: "";
    height: 40px;
    width: 4px;
    background-color: #41F6D7;
    border-radius: 2px;
    position: absolute;
    left: 0;
  }

  .name-page__text {
    font-size: 28px;
    font-weight: bold;
  }

  .menu__list {
    display: flex;
    align-items: center;
    list-style: none;
    overflow: auto;
    padding: 10px;
    margin-left: 15px;
    margin-top: 40px;
    position: relative;
    top: 5px;
  }

  ol li {
    color: #7E7E82;
    font-size: 16px;
    padding: 8px;
    height: 24px;
    flex-wrap: nowrap;
    min-width: max-content;
  }

  ol li:hover {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    background-color: white;
  }

  .menu__list{
    overflow-x: scroll;
  }

  p {
    padding: 0 10px 0 0;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
  }

  .description__row-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 56px;
    margin-left: 40px;
    margin-top: -55px;
  }

  label {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-weight: 500;
    margin-left: 16px;
  }


  @media (min-width: 320px) and (max-width: 767px) {

    /*скрываем для разрешения 320px иконок в хэдере*/
    .header__row-2 div:nth-child(1), .header__row-2 div:nth-child(2), .header__row-2 div:nth-child(3) {
      display: none;
    }

    .header__logo::after {
      display: inline-block;
      content: "";
      height: 32px;
      width: 2px;
      background-color: #EAEAEA;
      position: relative;
      top: -7px;
      left: 8px;
      border-radius: 1px;
    }

    .header__row-1 div:nth-child(1) {
      position: relative;
      top: 10px;
      margin-left: 5px;
    }

    .header__row-1 div:nth-child(2) {
      position: relative;
      margin-left: 5px;
    }

    .header__row-2 div:nth-child(4) {
      margin-left: 8px;
    }

    .name-page__text {
      font-size: 28px;
      font-weight: bold;
      padding-top: 65px;
      margin-left: -20px;
    }

    .name-page__row::before {
      left: 0;
      top: 110px;
    }

    .menu__list {
      margin-left: -5px;
    }

    .description-row {
      display: flex;
    }

    .description__text {
      flex: 1 1 auto;
      height: 100px;
      width: 290px;
      overflow: hidden;
      margin-left: 10px;
      margin-bottom: 60px;
    }

    .description__image img {
      width: 320px;
      height: 230px;
      margin-left: 0;
    }

    .name-page__row-button-1, .name-page__row-button-2 {
      display: none;
    }

    .description__row-button {
      margin-left: 10px;
    }

  }
  @media (min-width: 768px) and (max-width: 1119px)  {

    .container {
      min-width: 760px;
      max-width: 1120px;
    }

    .header__row-1 div:nth-child(1) {
      position: relative;
      top: 10px;
      margin-left: 10px;
    }

    .header__row-1 div:nth-child(2) {
      position: relative;
      margin-left: 10px;
    }

    .header__row-2 div:nth-child(4) {
      margin-left: 10px;
    }

    .header__row-1 div:nth-child(1)::after, .header__row-2 div:nth-child(3)::after {
      display: inline-block;
      content: "";
      height: 32px;
      width: 2px;
      background-color: #EAEAEA;
      position: relative;
      top: -5px;
      left: 15px;
      border-radius: 1px;
    }

    .name-page__row::before {
      left: 0;
      top: 110px;
    }

    .name-page__text {
      font-size: 28px;
      font-weight: bold;
      padding-top: 60px;
      margin-left: -10px;
    }

    .description__row {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: space-between;

    }

    .description__text {
      flex: 1 1 312px;
      height: 148px;
      width: 310px;
      overflow: hidden;
      padding:  0 0 8px 0px;
      margin-left: 32px;
    }

    .description__image {
      flex: 0 0 360px;
    }

    .description__image img {
      height: 260px;
      width: 360px;
    }

    .description__image img {
      border-radius: 5px;
      margin-right: 20px;
    }

    .name-page__row-button-1, .name-page__row-button-2 {
      display: none;
    }

    .description__row-button {
      margin-top: 10px;
    }
}

  @media (min-width: 1120px) {
    .container {
      min-width: 1120px;
      margin: 0 auto;
    }

    .header {
      display:none;
    }

    .description__row {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: space-around;
    }

    .description__text {
      flex: 1 1 490px;
      height: 160px;
      padding: 0 0 36px 34px;
    }

    .description__image {
      flex: 0 0 530px;

    }

    .description__image img {
      height: 380px;
      width: 580px;
    }

    .name-page__row {
      margin-top: 42px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    .name-page__row-button {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: nowrap;

    }

    .name-page__row-button-1, .name-page__row-button-2 {
      margin-right: 30px;
    }

    .name-page__row-button-1 label, .name-page__row-button-2 label {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 10px;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      font-weight: 500;
    }

    .name-page__row-button-1 > label > input, .name-page__row-button-2 > label > input {
      margin-top: 0px;
      margin-left: 10px;
    }

    .description__image img {
      border-radius: 5px;
      margin-right: 20px;
    }

    .menu__list {
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
