@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-Regular.eot');
  src: local('TT Lakes Regular'), local('TTLakes-Regular'),
  url('../fonts/TTLakes-Regular.eot') format('embedded-opentype'),
  url('../fonts/TTLakes-Regular.woff') format('woff'),
  url('../fonts/TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-Bold.eot');
  src: local('TT Lakes Bold'), local('TTLakes-Bold'),
  url('../fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTLakes-Bold.woff') format('woff'),
  url('../fonts/TTLakes-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-Medium.eot');
  src: local('TT Lakes Medium'), local('TTLakes-Medium'),
  url('../fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTLakes-Medium.woff') format('woff'),
  url('../fonts/TTLakes-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

body {
  background-color: #F8F8F8;
}

.wrapper {
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

* {
  padding: 0px;
  margin: 0px;
}

h1 {
  background-image: linear-gradient(to right, #F8F8F8 50%, white 100%);
  height: 80px;
  width: 100%;


  text-transform: uppercase;
  color: #7E7E82;
  font-family: 'TT Lakes';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  font-weight: normal;

  padding: 16px 0px 0px 16px;
}

.software__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: space-between;
  flex-wrap: wrap;
}


.software__card {
  width: 240px;
  height: 72px;
  background-color: #FFFFFF;
  margin-top: 16px;
  border: 1px solid #EAEAEA;
  border-radius: 6px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.software__card img {
  margin-left: 16px;
}

.software__card button {
  border: 1px solid #FFFFFF;
  background-color: #FFFFFF;
}

.software__card > button > img {
  margin-right: 16px;
}

button.hidden {
  display: none;
}

@media (min-width: 320px) and (max-width: 767px) {

  .software__list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    min-width: 0px;
    margin-left: 10px;
  }

  .software__button--open, .software__button--close {
    display: none;
  }

  .swiper-pagination {
    top: 200px;
  }

  .swiper-pagination-bullet {
    background-color: #B5B6BC;
    width: 12px;
    height: 12px;

  }

  .swiper-slide {
    width: 240px;
    height: 72px;
  }

}

@media (min-width: 768px) and (max-width: 1119px)  {

  .software__list {
    max-width: 1119px;
    min-width: 768px;
    padding-bottom: 24px;
    height: 170px;
    overflow: hidden;
  }

  .software__list--open {
    height: 350px;
    padding-bottom: 50px;
  }

  .software__card {
    width: 224px;
    height: 72px;
    margin-left: 24px;
  }

  h1 {
    height: 40px;
    padding: 16px 0px 0px 24px;
  }

  .software__button--open {
    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: #F8F8F8;
    border: 1px solid #F8F8F8;
    margin-left: 30px;

    font-family: 'TT Lakes';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
  }

  .software__button--open img {
    margin-right: 17px;
  }

  .software__button--close {
    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: #F8F8F8;
    border: 1px solid #F8F8F8;
    margin-left: 40px;

    font-family: 'TT Lakes';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
  }

  .software__button--close img {
    margin-right: 17px;
    margin-top: 5px;
  }

}

@media (min-width: 1120px) {

  .software__list {
    max-width: 1120px;
    height: 170px;
    overflow: hidden;
    padding-bottom: 24px;
  }

  .software__list--open {
    height: 250px;
    padding-bottom: 50px;
  }

  .software__card {
    margin-left: 32px;
  }

  h1 {
    height: 40px;
    padding: 16px 0px 0px 32px;
  }

  .software__button--open {
    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: #F8F8F8;
    border: 1px solid #F8F8F8;
    margin-left: 40px;

    font-family: 'TT Lakes';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
  }

  .software__button--open img {
    margin-right: 17px;
  }

  .software__button--close {
    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: #F8F8F8;
    border: 1px solid #F8F8F8;
    margin-left: 40px;

    font-family: 'TT Lakes';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
  }

  .software__button--close img {
    margin-right: 17px;
    margin-top: 5px;
  }

}